// @import 'scss-tools.scss';

footer{
	height: 25vh;
	padding-top: 5vh;
	display: flex;
	justify-content: space-around;
	
	align-items: center;

	.footer__wrapper{
		display: flex;
		gap:20vw;
		
	}
	.footer__content{
		//height: 15vh;
		
				width: 100%;
            p{
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
            }
            span{
                font-size: 14px;
                display: block;
            }
	}


}