header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
}
header nav {
  margin: 0 auto 6vh;
  width: 100%;
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
  font-family: "Roboto", sans-serif;
}
header nav .header__nav_phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 12px;
}
header nav .header__nav_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav .header__nav_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header nav .header__nav_links {
  font-size: 15px;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 15px;
}
header nav .header__nav_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .header__nav_instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}