.main__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 auto;
}
.main__banner img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 533px;
  height: 686px;
  max-width: 40%;
}
.main__banner button {
  position: relative;
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  max-width: 180px;
  min-width: 90px;
  width: 70%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  text-align: center;
}
.main__banner h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  max-width: 90%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
}
.main__banner p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.main__banner .main__banner_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  height: 50vh;
  gap: 10px;
}