
main{
    article{
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: space-between;
        width: 86%;
        margin:0 auto 20vh;

        h2{
            margin:0 0 6% 0;
            padding: 0 0 40px 0;

				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 50px;
				line-height: 59px;
				text-align: center;

				color: #000000;

            span{
                background: linear-gradient(180deg, #cf036d 2.23%, #3a40e7 69.51%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
               
            }
        }

        .article__content{
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;

            .article__content_item{
                width: 344px;
                height: 47vh;
                border-radius: 5%;
                box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.2);

                img{
                    height: 50%;
                    width: 100%;
                    border-radius: 9px 9px 0 0;
                    object-fit: cover;
                }

                .info{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    width: 90%;
                    height: 50%;
                    margin:0 auto;
                    p{
                        text-transform: uppercase;
								font-family: 'Roboto';
								font-style: normal;
								font-weight: 700;
								font-size: 36px;
								line-height: 42px;

								color: #000000;
                        margin:0;
                    }
                    span{
								font-family: 'Roboto';
								font-style: normal;
								font-weight: 300;
								font-size: 14px;
								line-height: 16px;

								color: #767676;
                    }
                }

            }

         
        }
    }
}