// @import "scss-tools.scss";

.main__banner{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 auto;
	// gap:50px;

	

	img{
		display: flex;
		width: 533px;
		height: 686px;
		max-width: 40%;
	}

	button{
	position: relative;
		
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    max-width: 180px;
    min-width: 90px;
    width: 70%;
    padding: 15px 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
	 color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    line-height: 23px;
    text-align: center;
	}
	h1{
		justify-content: center;
		margin: 0;
		max-width: 90%;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		font-size: 50px;
		line-height: 59px;
	}

	p{
		margin: 0;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		// margin: 0 0 12px;
	}
	.main__banner_text{
		
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		max-width: 50%;
		height: 50vh;
		gap: 10px;
	}

	}
