main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
main .main__intro {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 86%;
}
main .main__intro .main__intro_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
main .main__intro .main__intro_title .main__intro_title-name {
  font-family: roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
}
main .main__intro .main__intro_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
main .main__intro .main__article_intro_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: #737373;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}